body {
    background: #2c3133;
    color: #E7F6F2;
    font-family: Arial, Helvetica, sans-serif;
}

.searchcontainer {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    row-gap: 10px;
}

.searchbar {
    grid-column: 2;
    background-color: #1b1f1f;
    padding: 10px;
    border-radius: 22px;
    display: grid;
    grid-template-columns: 24px 1fr;
    grid-template-rows: 1fr auto;
}

.searchbar icon {
    color: #E7F6F2;
    grid-column: 1;
    grid-row: 1;
}

.searchbar input {
    grid-row: 1;
    grid-column: 2;
    min-width: 100%;
    flex-grow: 1;
    height: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    color: #ffffff;
    font-size: 16px;
}

.searchbar .results {
    grid-row: 2;
    grid-column: 2;
    max-height: 30vh;
    overflow-y: scroll;
}

.searchbar .results .autocomplete-option {
    padding-left: 3px;
    font-size: 16px;
    line-height: 1.5em;
}

.searchbar .results .autocomplete-option:hover {
    background: #2C3333;
}

.add-listing {
    grid-column: 2;
    background-color: #1b1f1f;
    color: #ffffff;
    padding: 10px;
    border-radius: 22px;
    border: 0;
    outline: 0;
    font-size: 16px;
}

.add-listing:hover {
    background: #2C3333;
}

.add-listing:disabled {
    color: #999999;
}

.add-listing:disabled:hover {
    background-color: #1b1f1f;
}